<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>채용공고 등록</h2>
  </div>
  <h4 class="mb-3">채용공고</h4>
  <form action="/company/writepro" method="post">
    <div>
      <label for="id">회사_id</label>
      <input type="text" id="id" name="id" class="form-control" placeholder="회사 id를 입력하세요">
    </div>
    <div>
      <label for="name">회사명</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="회사명을 입력하세요">
    </div>
    <div>
      <label for="position">채용포지션</label>
      <input type="text" id="position" name="position" class="form-control"
             placeholder="포지션을 입력하세요">
    </div>
    <div>
      <label for="money">채용보상금</label>
      <input type="text" id="money" name="money" class="form-control" placeholder="채용보상금을 입력하세요">
    </div>
    <div>
      <label for="content">채용내용</label>
      <input type="text" id="content" name="content" class="form-control" placeholder="채용내용을 입력하세요">
    </div>
    <div>
      <label for="tech">사용기술</label>
      <input type="text" id="tech" name="tech" class="form-control" placeholder="사용기술을 입력하세요">
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit">채용공고
          등록</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/company/list}'|"
                type="button">취소</button>
      </div>
    </div>
  </form>
</div> <!-- /container -->
</body>
</html>