<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>채용공고</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/company/write}'|"
                    type="button">채용공고
                등록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>채용공고_id</th>
                <th>회사명</th>
                <th>채용포지션</th>
                <th>채용보상금</th>
                <th>사용기술</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="company : ${list}">
                <td><a th:text="${company.id}" th:href="@{/company/view(id=${company.id})}">채용공고_id</a></td>
                <td><a th:text="${company.name}">회사명</a></td>
                <td><a th:text="${company.position}"></a></td>
                <td th:text="${company.money}"></td>
                <td th:text="${company.tech}"></td>
            </tr>
            </tbody>
        </table>
        <form th:action="@{/company/list}" method="get">
            <input type="text" name="searchKeyword">
            <button class="btn btn-primary float-end"
                th:onclick="|location.href='@{/company/list}'|"
                type="submit">검색</button>
        </form>
    </div>
</div> <!-- /container -->
</body>
</html>